* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.html {
    font-size: 10px;
}
.App {
    width: 100vw;
    height: 100vh;
    background-color: #0112A6;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
