.passwordGenerator {
  width: 100%;
  background-color: #4623B8;
  padding: 2vh;
  -webkit-box-shadow: 1px 2px 19px 7px rgba(34, 17, 89, 0.61);
          box-shadow: 1px 2px 19px 7px rgba(34, 17, 89, 0.61);
}

@media (min-width: 420px) {
  .passwordGenerator {
    width: 90%;
  }
}

@media (min-width: 750px) {
  .passwordGenerator {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .passwordGenerator {
    width: 70%;
  }
}

@media (min-width: 1400px) {
  .passwordGenerator {
    width: 35%;
  }
}

.passwordGenerator__title {
  color: white;
  font-size: 1.4rem;
  padding: .5rem 0;
  text-align: center;
}

@media (min-width: 750px) {
  .passwordGenerator__title {
    font-size: 1.7rem;
    padding: .8rem 0;
  }
}

.passwordGenerator__button {
  width: 100%;
  padding: .7rem 0;
  background-color: #6130FF;
  border: none;
  outline: none;
  font-size: 1rem;
  color: white;
  letter-spacing: 1px;
  border: 1px solid #4623B8;
  margin: 0 0 1rem;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.passwordGenerator__button:hover {
  background-color: #5734c9;
}

@media (min-width: 750px) {
  .passwordGenerator__button {
    font-size: 1.2rem;
  }
}

.passwordGenerator__number-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  margin-bottom: .5rem;
}

@media (min-width: 750px) {
  .passwordGenerator__number-group {
    font-size: 1.3rem;
  }
}

.passwordGenerator__number-group > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .4rem 0;
}

.passwordGenerator__number {
  width: 20%;
  padding: .2rem;
  outline: none;
  border-radius: .2rem;
  border: none;
}

@media (min-width: 750px) {
  .passwordGenerator__number {
    font-size: 1.1rem;
  }
}

.passwordGenerator__checkbox-group {
  width: 50%;
  color: #fff;
}

@media (min-width: 750px) {
  .passwordGenerator__checkbox-group {
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  .passwordGenerator__checkbox-group {
    margin: 1rem 0;
  }
}

.passwordGenerator__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: .4rem;
}

.passwordGenerator > small {
  color: #fff;
}

@media (min-width: 750px) {
  .passwordGenerator > small {
    font-size: 1rem;
  }
}

.passwordGenerator__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  background-color: #221159;
  padding: .2rem;
}

.passwordGenerator__wrapper-password {
  width: 90%;
  padding: .5rem .2rem;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}

@media (min-width: 750px) {
  .passwordGenerator__wrapper-password {
    padding: 1rem .5rem;
    font-size: 1.2rem;
  }
}

.passwordGenerator__wrapper-clipboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  background-color: #4623B8;
}

.passwordGenerator__wrapper-clipboard > span {
  color: #fff;
  cursor: pointer;
}

@media (min-width: 750px) {
  .passwordGenerator__wrapper-clipboard > span {
    font-size: 1.5rem;
  }
}
